{% extends "auxiliars/base.html.twig" %}

{% block head %}
    <title>Borsa de treball</title> 
    <link rel="shortcut icon" type="image/ico" href="../imatges/logo-cifp.ico"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/borsa.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

{% endblock %}

{% block navegacio %}
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li><a href="empresaLogin">Empreses</a></li>
        <li><a href="alumneLogin">Alumnes</a></li>
        <li><a href="professorLogin">Professors</a></li>
    </ul>
    <!--  <ul class="nav navbar-nav navbar-right ">
          <li id="ajuda"><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Ajuda</a></li>
      </ul> -->
{% endblock %}

{% block contingut %}
    <div class="row">
        <div class="col-md-12">
            <p><img src="imatges/institut.png" class="img-responsive pull-right img-dreta">
                Aquesta aplicació web permet gestionar la borsa de treball de l'institut d'educació secundària Pau Casesnoves. Està dirigida a tres col·lectius:</p>
            <ul><li><p>Les empreses: poden apuntar-se a la borsa de treball i des d'aquest moment podran fer ofertes de treball que arribaran als alumnes que compleixin els requisits demanats a l'oferta.</p></li>
                <li><p>Els alumnes: Quan es graduen es donen automàticament d'alta el sistema, i si ells activen el seu compte podran ser seleccionats com a candidats per a les ofertes de treball.</p></li>
                <li><p>Els professors: poden assignar-se uns determinats estudis i des d'aquest moment hauran de validar les ofertes que publiquen les empreses abans de que arribin als alumnes.</p></li>
            </ul>
            <p>Esperam que vos sigui útil.</p>
        </div>
    </div>
    {{include('auxiliars/modals.html.twig')}}
    <script>
        $(document).ready(function () {
            $('#ajuda').on('click', function () {
                $('#mdEspera').modal('show');

                $('#mdEspera').on('shown.bs.modal', function (e) {
                    $.ajax({
                        method: 'GET',
                        url: "/ajuda/0"
                    }).done(function (dades) {

                        $('#mrTitol').html('<h3><span class="glyphicon glyphicon-question-sign"></span> Ajuda</h3>')
                        $('#mrText').html(dades.missatge);
                        $('#bmDacord').on('click', function () {
                            $('#mdResultat').modal('hide');
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $('#mrTitol').html('<h3><span class="glyphicon glyphicon-question-sign"></span> Ajuda</h3>')
                        $('#mrText').html(dades.missatge);
                        $('#bmDacord').on('click', function () {
                            window.location.href = "usuaris";
                        });
                    }).always(function () {
                        $('#mdEspera').modal('hide');
                        $('#mdResultat').modal('show');
                    });
                });
            });
        });
    </script>
{% endblock %}
