{% extends "auxiliars/base.html.twig" %}

{% block head %}
    <title>Borsa de treball: Alumnes</title>
    <link rel="shortcut icon" type="image/ico" href="imatges/logoPau2.ico"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/borsa.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
{% endblock %}

{% block navegacio %}

    <a class="navbar-brand" href="#">Alumne</a>

{% endblock %}                     

{% block contingut %}

    <div class="row">
        <div class="col-md-8">
            <h3>Alumnat</h3>
            <p>Sovint a l’institut es reben trucades d’empreses que estan cercant gent per treballar amb ells. Aquesta aplicació pretén fer més fàcil el procés de posar en contacte empreses que cerquen treballadors i alumnes ja graduats que cerquen feina.</p>
            <p>A l’aplicació pots introduir diferent informació. De moment pots incloure els cicles formatius de grau mitjà o superior que hagis acabat, el nivell de competència de diferents idiomes, i la teva situació laboral.</p>
            <p>Quan preparen una oferta les empreses obligatòriament han d’incloure com a mínim un cicle formatiu al que va dirigida aquella oferta. Tots els alumnes que tengui registrats alguns dels cicles demanats rebran l’oferta.</p>
            <p>Opcionalment les empreses podran refinar el filtre de candidats amb el nivell de diferents idiomes i la situació laboral a la que es trobin. Si tens com a mínim el nivell que demanen de cada idioma seràs seleccionat. I si et trobes en alguna de les situacions laborals també.</p>
            <p>Esperam que aquesta aplicació t’ajudi a trobar feina. Sort!</p>
        </div><!--col-->
        <div class="col-md-4">
            {{include('auxiliars/login.html.twig')}}
        </div><!--col-->

    </div><!--row-->
{% endblock %}                     
