<html>
    <head>
        <meta charset="utf-8">
        <style>
            label {
                font-weight: bold;
            }
            .well{
                border-radius: 8px;
                border-color: #ddd;
                border-style: solid;
                border-width: 1px;
                background-color: #eee;

                margin: .5em;
                padding: .5em;
            }
        </style>
    </head>
    <body>
        <p><img src="https://aulavirtual.iespaucasesnoves.cat/pluginfile.php/1/theme_clean/logo/1458641851/BO75pxx%2Btext.png"></p>
        {{include('auxiliars/ofertaCompleta.html.twig')}}
    </body>
</html>