{% extends "/email/baseEmail.twig" %}

{% block contingut %}
    <h1>Validacions de membres del professorat pendents</h1>
    <p>Té una nova petició de validació d'algun company del centre.</p>
    <p>Per favor, entri a l'aplicació i comprovi-ho el més aviat possible.</p>
        <p>Moltes gràcies!</p>

{%endblock%}
