{% extends "/email/baseEmail.twig" %}

{% block contingut %}
    <h1>Validacions d'empreses pendents</h1>
    <p>Té una nova petició de validació d'alguna empresa que es vol incorporar a la borsa de treball.</p>
    <p>Per favor, entri a l'aplicació i comprovi-ho el més aviat possible.</p>
    <p>Moltes gràcies!</p>

{%endblock%}
