{% extends "/email/baseEmail.twig" %}

{% block contingut %}
    <h1>Validacions d'ofertes pendents</h1>
    <p>Alguna empresa ha publicat una nova oferta d'algun dels estudis que té assignats.</p>
    <p>Per favor, entri a l'aplicació i comprovi-ho el més aviat possible, ja que fins que no la validi no s'enviarà als alumnes seleccionats.</p>
    <p>Moltes gràcies!</p>

{%endblock%}
