<h2>Canviar contrasenya</h2>
<div class="well">
    <form id="fCanvi">
        <input type="hidden" name="idUsuari" value="{{ usuari.idUsuari }}">
        <input type="hidden" name="tipusUsuari" value="{{ usuari.tipusUsuari }}">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group required">
                    <label for="password" class="control-label">Contrasenya actual:</label>
                    <input type="password" class="form-control" id="antic" name="antic" required="required" minlength="8" maxlength="75">
                </div>
                <div class="form-group required">
                    <label for="nou" class="control-label">Contrasenya nova:</label>
                    <input type="password" class="form-control" id="nou" name="nou" required="required"  minlength="8" maxlength="75">
                </div>
                <div class="form-group required">
                    <label for="repetir" class="control-label">Repetir contrasenya nova:</label>
                    <input type="password" class="form-control" id="repetir"  required="required"  minlength="8" maxlength="75">
                </div>
            </div><!--col-->
        </div> <!--Row -->

        <div class="row"> 
            <div class="col-md-4">
                <div class="form-group">                           
                    <div>
                        <label class="radio-inline"><input type="checkbox" id="mostra" value="true"> Mostrar contrasenyes</label>
                    </div>
                </div>
            </div><!--col -->
        </div> <!--Row -->

        <button type="submit" class="btn btn-success">Canviar</button>
        <button type="reset" class="btn btn-default">Netejar</button>
    </form>
</div>
<script src="../js/dirtyForms.js"></script>
<script>

    $('#fCanvi').submit(function (event) {
        event.preventDefault();
        var errors = "";
        if ($("#nou").val() === $("#antic").val()) {
            errors += "<p>La contrasenya nova no pot ser la mateixa que l'antiga.</p>";
        }
        if ($("#nou").val() !== $("#repetir").val()) {
            errors += "<p>La contrasenya nova i la repetició no coincideixen.</p>";
        }
        if ($("#antic").val().length < 8 || $("#antic").val().length > 75) {
            errors += "<p>La contrasenya antiga ha de tenir una longitud d'entre 8 i 75 caràcters.</p>";
        }
        if ($("#nou").val().length < 8 || $("#nou").val().length > 75) {
            errors += "<p>La contrasenya nova ha de tenir una longitud d'entre 8 i 75 caràcters.</p>";
        }
        if (errors === "") {
            $('#mdEspera').modal('show');
        } else {
            $('#mrTitol').html("Atenció!")
            $('#mrText').html(errors);
            $('#mdResultat').modal('show');
        }
    });
</script>