<h2>Dades de l'empresa</h2>
<div class='well'>
    <form  id="formEmpresa" action="/altaEmpresa" method="POST">
        <div class="row">
            <div class="col-md-4">

                <input type="hidden" class="form-control" id="idEmpresa" name="idEmpresa">
                <div class="form-group required">
                    <label class='control-label' for="Nom">Nom:</label>
                    <input type="text" required="required" class="form-control " id="Nom" name="Nom" value="12{{objEmpresa.Nom}}">
                </div>

                <div class="form-group">
                    <label for="Telefon">Teléfon:</label>
                    <input type="text" class="form-control" id="Telefon" name="Telefon" value="{{objEmpresa.Telefon}}">
                </div>
                <div class="form-group required">
                    <label for="email" class='control-label'>Correu electrònic:</label>
                    <input type="email" required="required" class="form-control" id="email" name="email" value="asd@asd.sd{{objEmpresa.email}}">
                </div>
                <div class="form-group">
                    <label for="url" class='control-label'>url:</label>
                    <input type="text" class="form-control" id="url" name="url" value="{{objEmpresa.url}}">
                </div>
                <div class="form-group">
                    <label for="Actiu">Estat:</label>
                    <div>
                        <label class="radio-inline"><input type="radio" id="Actiu" name="Actiu" value="true"  {% if objEmpresa.Activa==true %}checked="checked"{% endif %}> Activa</label>
                        <label class="radio-inline"><input type="radio" id="Inactiu" name="Actiu" value="false" {% if objEmpresa.Activa==false %}checked="checked"{% endif %}> Inactiva</label>
                    </div>
                </div>

            </div><!--col-->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Adreca">Adreca:</label>
                    <input type="text" class="form-control" id="Adreca" name="Adreca" value="{{objEmpresa.Adreca}}">
                </div>
                <div class="form-group">
                    <label for="CodiPostal">Codi postal:</label>
                    <input type="text" class="form-control" id="CodiPostal" name="CodiPostal" value="{{objEmpresa.CodiPostal}}">
                </div>
                <div class="form-group">
                    <label for="Localitat">Localitat:</label>
                    <input type="text" class="form-control" id="Localitat" name="Localitat" value="{{objEmpresa.Localitat}}">
                </div>
                <div class="form-group">
                    <label for="Provincia">Provincia:</label>
                    <input type="text" class="form-control" id="Provincia" name="Provincia" value="{{objEmpresa.Provincia}}">
                </div>
            </div><!--col-->

            <div class="col-md-4">
                {% if not objEmpresa is defined %}              
                <div class="row well">
                    <p>La petició d'alta ha de ser validada per els professors del centre. Per això és important omplir les dades de contacte.</p>
                    <p>Una vegada validada, l'empresa podrà començar a publicar ofertes de treball.</p>
                </div>
                {% endif %}                
                <div class="row">
                    <div class="form-group pull-right">
                        <label for="bEnviar">&nbsp;</label>
                        <div><button type="submit" id="bEnviar" class="btn btn-default">Guardar</button></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
                        <label for="CodiPostal">&nbsp;</label>
                        <div><button type="reset"  class="btn btn-default">Netejar </button></div>
                    </div>
                </div>
            </div><!--col-->


        </div><!--row-->
        <div class="row"> 
            <div class="col-md-8">
                <div class="form-group">
                    <label for="textOferta">Descripció de l'empresa: </label>
                    <div id="textDescripcio">{{objEmpresa.Descripció | raw}}</div>
                </div>
            </div><!--col -->
        </div> <!--Row -->
    </form>
</div><!--well-->

<!--modal espera -->
<div id="mdEspera" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Realitzant l'alta</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         style="width:100%">
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 <button type="button" class="btn btn-primary">Save changes</button>
             </div>-->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--modal resultat -->
<div id="mdResultat" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mrTitol">Realitzant l'alta</h4>
            </div>
            <div class="modal-body">
                <div id="mrText"></div>
            </div>
            <div class="modal-footer">
                 <button id="bDacord" type="button" class="btn btn-primary">D'acord</button>
             </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->