<div class="well">
    <form action="entrar" method="POST">
        <input type="hidden" name="tipus" value="{{tipus}}">
        <div class="form-group">
            <label for="usuari">Email:</label>
            <input type="email" class="form-control" id="email" name="email" >
        </div>
        <div class="form-group">
            <label for="password">Contrasenya: </label>
            <input type="password" class="form-control" id="password" name="password" >
        </div>
        <h5>Ha oblidat la contrasenya? <small><a href="#">Cliqui aquí</a></small></h5>
        <button type="submit" name="bEntrar" >Entrar</button>
    </form>
</div>
