{% if tipus==10 %}
    {% set action='professor/dashBoard' %}
{% elseif tipus==20 %}
    {% set action='empresa/dashBoard' %}
{% else %}
    {% set action='alumne/dashBoard' %}
{% endif %}
<div class="well">
    <form id="fLogin" action="{{ action }}" method="GET">
        <input type="hidden" name="tipus" value="{{tipus}}">
        <div class="form-group">
            <label for="usuari">Email:</label>
            <input type="email" class="form-control" id="email" name="email" >
        </div>
        <div class="form-group">
            <label for="password">Contrasenya: </label>
            <input type="password" class="form-control" id="password" name="password" >
        </div>
        <h5>Ha oblidat la contrasenya? <small><a href="#">Cliqui aquí</a></small></h5>
        <button type="submit" name="bEntrar" >Entrar</button>
    </form>
</div>
<script>
    $("#fLogin").on('submit', function (event) {
        event.preventDefault();
        //Ajax de validació
        window.location='{{ action }}';
    });
</script>
