{% extends "auxiliars/base.html.twig" %}

{% block head %}
    <title>Borsa de treball: Empreses</title>
    <link rel="shortcut icon" type="image/ico" href="../imatges/logoPau2.ico"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/borsa.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
{% endblock %}

{% block navegacio %}

    <a class="navbar-brand" href="/sortir">Borsa de treball</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right ">
        <li><a href="/sortir"><span class="glyphicon glyphicon--log-out"></span> Tornar a la pàgina principal</a></li>
    </ul>

{% endblock %}                     

{% block contingut %}
    <div class="row">
        <div class="col-md-8">
            <h1>No està autoritzat a veure aquesta pàgina.</h1>
            <p>Ha intentat accedir a una pàgina a la qual no està autoritzat.</p>
            <p>Per a seguir utilitzant l'aplicació s'haurà de tornar a identificar.</p>

        </div><!--col-->
    </div><!--row-->
    <div class="row">
        <div class="col-md-8">
        <div><p><a href="/sortir"><span class="glyphicon glyphicon--log-out"></span> Tornar a la pàgina principal</a></p></div>
        </div><!--col-->

    </div><!--row-->
{% endblock %}                     
