{% extends "auxiliars/base.html.twig" %}

{% block head %}
<title>Borsa de treball: Alta Empresa</title>
<link rel="shortcut icon" type="image/ico" href="../imatges/logoPau2.ico"/>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/borsa.css">
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<link href="../js/summernote/summernote.css" rel="stylesheet">
<script src="../js/summernote/summernote.min.js"></script>


<script>
    $(document).ready(function () {
        $('#textDescripcio').summernote({
            height: 150,
            placeholder: "Descripció de l'empresa"
        });

        $('#mdResultat').modal({backdrop: 'static', keyboard: false, show: false});
        $('#bDacord').on('click', function () {
            $('#mdResultat').modal('hide');
        });
        $('#mdEspera').modal({backdrop: 'static', keyboard: false, show: false});
        $('#mdEspera').on('shown.bs.modal', function (e) {
            var empresa = {};
            $.each($('#formEmpresa [name]'), function (i, obj) {
                empresa[obj.name] = obj.value;
            });
            empresa.descripcio = $('#textDescripcio').summernote('code');
            $.post("/altaEmpresa", empresa, function () {
                $('#mrTitol').html('Alta realitzada correctament')
                $('#mrText').html("<p>En uns dies rebrà un correu electrònic amb la confirmació de l'alta i les instruccions per començar.</p>");
                $('#bDacord').on('click', function () {
                    window.location.href = "empresa";
                });
            }).fail(function () {
                $('#mrTitol').html("Problemes amb l'alta")
                $('#mrText').html("<p>L'alta no s'ha pogut realitzar correctament.</p>");
                $('#bDacord').on('click', function () {
                    $('#mdResultat').modal('hide');
                });
            }).always(function () {
                $('#mdEspera').modal('hide');
                $('#mdResultat').modal('show');
            });
        });


        $('#formEmpresa').submit(function (event) {
            event.preventDefault();

            $('#mdEspera').modal('show');
        });

    });
</script>
{% endblock %}

{% block navegacio %}
<a class="navbar-brand" href="empresa.html">Empresa</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Actualitzar dades</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
        <li><a href="#">Nom de l'empresa</a></li>
        <li><a href="/sortir"><span class="glyphicon glyphicon-log-out"></span> Sortir</a></li>
    </ul>
</div>
</div>
</nav>
<h2>Dades de l'empresa
</h2>
<div class='well'>
    <form>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="idEmpresa">idEmpresa:</label>
                    <input type="text" class="form-control" id="idEmpresa" name="idEmpresa" readonly="readonly">
                </div>
                <div class="form-group">
                    <label for="Nom">Nom:</label>
                    <input type="text" class="form-control" id="Nom" name="Nom">
                </div>

                <div class="form-group">
                    <label for="Telefon">Telefon:</label>
                    <input type="text" class="form-control" id="Telefon" name="Telefon">
                </div>
                <div class="form-group">
                    <label for="email">email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Contrasenya:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="password2">Repetir contrasenya:</label>
                    <input type="password" class="form-control" id="password" name="password2">
                </div>
            </div><!--col-->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Adreca">Adreca:</label>
                    <input type="text" class="form-control" id="Adreca" name="Adreca">
                </div>
                <div class="form-group">
                    <label for="CodiPostal">CodiPostal:</label>
                    <input type="text" class="form-control" id="CodiPostal" name="CodiPostal">
                </div>
                <div class="form-group">
                    <label for="Localitat">Localitat:</label>
                    <input type="text" class="form-control" id="Localitat" name="Localitat">
                </div>
                <div class="form-group">
                    <label for="Provincia">Provincia:</label>
                    <input type="text" class="form-control" id="Provincia" name="Provincia">
                </div>
            </div><!--col-->
        </div><!--row-->
        <div class="row"> 
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Actiu">Estat:</label>
                    <div>
                        <label class="radio-inline"><input type="radio" id="Actiu" name="Actiu" value="true"> Activa</label>
                        <label class="radio-inline"><input type="radio" id="Inactiu" name="Actiu" value="false"> Inactiva</label>
                    </div>
                </div>
            </div><!--col -->
        </div> <!--Row -->
        <button type="submit" class="btn btn-default">Guardar</button>
        <button type="reset" class="btn btn-default">Netejar</button>
    </form>
</div><!--well>
</div>
</body>
</html>
