{% extends "auxiliars/base.html.twig" %}

{% block head %}
    <title>Borsa de treball: Empreses</title>
    <link rel="shortcut icon" type="image/ico" href="imatges/logoPau2.ico"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/borsa.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
{% endblock %}

{% block navegacio %}

    <a class="navbar-brand" href="#">Empresa</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right ">
        <li><a href="altaEmpresa"><span class="glyphicon glyphicon-plus"></span> Sol·licitar l'alta</a></li>
    </ul>

{% endblock %}                     

{% block contingut %}
    <div class="row">
        <div class="col-md-8">
            <p>Possiblement ja vos heu trobat en la situació de necessitar contractar qualque treballador i pensar en el Pau Casesnoves per que li enviïn qualque candidat. Normalment el que fan les empreses en aquest cas es posar-se en contacte amb algun professor que coneguin, o sinó directament amb el centre, i, al final qualque u avisa alguns alumnes per que es posin en contacte amb la vostra empresa.</p>
            <p>Aquesta aplicació pretén fer més fàcil el procés de posar en contacte empreses que cerquen treballadors i alumnes ja graduats que cerquen feina.</p>
            <p>A l’aplicació els alumnes poden introduir diferent informació. De moment poden incloure els cicles formatius de grau mitjà o superior que hagin acabat, el nivell de competència de diferents idiomes, i la seva situació laboral.</p>
            <p>Quan prepareu una oferta obligatòriament heu d’incloure com a mínim un cicle formatiu al que va dirigida aquella oferta. Tots els alumnes que tengui registrats alguns dels cicles demanats rebran l’oferta.</p>
            <p>Opcionalment podreu refinar el filtre de candidats amb el nivell de competència en diferents idiomes i la situació laboral a la que es trobin. Es seleccionaran els alumnes que tenguin com a mínim el nivell que demaneu de cada idioma. I si es troben en alguna de les situacions laborals demanades també.</p>
            <p>Esperam que aquesta aplicació vos sigui útil.</p>
        </div><!--col-->
        <div class="col-md-4">
            {{include('auxiliars/login.html.twig')}}
        </div><!--col-->

    </div><!--row-->
{% endblock %}                     
